@import 'config/variables';

.appointment {
    h3{
      text-align: center;
    }
    .buttonBox {
      display: flex;
      justify-content: space-between;
      
      button {
        width: 20%;
        height: 10vh;
        @include button();
      }
    }
    font-weight: bold;
  }
  .priceBox{
    display: flex;
    justify-content: center;
    
  }
  .primaryButton {
    margin-top: 5vh;
    width: 50%;
    height: 8vh;
    @include button();
    background: #2a2f58;
}