.mainLinks {
    text-decoration: none;
    font-weight: bold;
  
    &:visited {
      text-decoration: none;
    }
  
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }