@import 'config/variables';

.mainLinks {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
  
    &:visited {
      text-decoration: none;
    }
  
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
    &:active {
      text-decoration: none;
    }
  }