@import "config/variables";

.readyStyle {
  width: 80%;
  margin: 0 auto;
  background-color: #94b3d8;
  opacity: 0.9;
}
.appointmentInfo {
  margin-top: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  color: #303436;
  h1 {
    font-size: 25px;
    color: #2a2f58;
    font-weight: 800;
  }
  h2 {
    font-size: 18px;
  }
}

#filled-number {
  background-color: #cce2fd;
  color: #2a2f58;
  font-weight: bold;
  font-size: 20px;
  border: 0;
  border-radius: 3px;
}
